--extra-index-url https://download.pytorch.org/whl/cu121

mss==9.0.1
easyocr==1.7.2
rapidfuzz==3.6.1
sentence-transformers==2.7.0
numpy==1.26.4
opencv-python-headless==4.10.0.84
Pillow==10.3.0
customtkinter==5.2.2
keyboard==0.13.5
pywin32==306
pystray==0.19.5
psutil==5.9.8
torch==2.2.2+cu121
torchvision==0.17.2+cu121
transformers==4.40.1
nuitka==4.0.5
